 
<ion-content>
  <div class="top-cont">
    <img style="width: 100%;" src="assets/imgs/logo_back.png" />
    <div class="logo">
      <img src="assets/imgs/Logo.png" />
    </div>
  </div>
  <div class="bottom-cont">
    <div>
      <div class="lbl-cont">  
        <ion-label>Apoya a tus restaurantes favoritos mientras comes desde la comodidad de tu casa.</ion-label>
      </div>
      <div>
        <div class="btn-fill" (click)="login()">
          <p>Iniciar Sesión</p>
        </div>
        <div class="btn-empty" (click)="signup()">
          <p>Crear una cuenta</p>
        </div>
      </div>
      <div></div>
    </div>
  </div>

</ion-content>
