 
<ion-content class="ion-padding">
  <div class="header-cont">
    <div>
      <div style="font-size: 30px; margin-top: 50px">Cambia tu contraseña</div>
      <div style="font-size: 14px;font-weight: 100;margin-top: 15px;">Escribe tu correo electrónico para recibir un
        enlace para restablecer la contraseña de tu cuenta</div>
    </div>
  </div>
  <div class="input-cont">
      <ion-input type="email" placeholder="Correo Electrónico" ></ion-input>
      <button  class="login-btn" (click)="send()">Enviar</button>
  </div>
</ion-content>
