 
<ion-content>
  <div class="header-cont">
    <div>
      <div style="font-size: 30px;margin-top: 50px;">Nueva Contraseña</div>
      <div style="font-size: 14px;font-weight: 100;margin-top: 15px;">
        Escribe tu nueva contraseña, esta debe tener por lo menos 8 caracteres, también
        debe contener al menos 1 numero y 1 letra.
      </div>
    </div>
  </div>
  <div class="input-cont">
      <ion-input type="password" placeholder="Nueva contraseña" [(ngModel)]="newPwd"></ion-input>
      <ion-input type="password" placeholder="Confirma tu contraseña nueva" [(ngModel)]="confirmPwd"></ion-input>
      <button  class="login-btn" (click)="onSubmit()">Continuar</button>
  </div>
</ion-content>
