<ion-header>
  <ion-row>
    <ion-col class="icon-col"><ion-icon name="arrow-back" (click)="onBack()" ></ion-icon><ion-label >My Order</ion-label></ion-col>
    <!-- <ion-col style="max-width: 20%;width: 20%; text-align: center;"><ion-icon name="cart"></ion-icon></ion-col> -->
  </ion-row>
</ion-header>
<ion-content [fullscreen]="false" class="ion-padding">
  <ion-item (click)="restroDetails()">
    <div class="containet">
      <div class="restro_detail d-flex">
        <div class="img_box center_img">
          <img src="assets/imgs/mu_pizza.png" class="crop_img">
        </div>
        <div class="text_box">
          <h3>King Burgers</h3>
          <div class="detail-box">
            <ion-icon style="color: #F57734;" name="star"></ion-icon> 
            <p style="margin: 5px; color: #F57734;">4.9 <span style="color: lightgray;">(124 Ratings)</span></p>
          </div>
          <ion-label>Burger  .Western Food</ion-label>
          <div class="detail-box">
            <ion-icon style="color: #F57734;" name="pin"></ion-icon> 
             <span style="color: lightgray;">No 03, 4th Lane, Newyork</span>
          </div>
        </div>
      </div>
    </div>
  </ion-item>
  <ion-list line="none">
      <ion-row class="history-row">
        <ion-col class="t-col"><ion-label>Beef Burger x1</ion-label></ion-col>
        <ion-col class="p-col"><ion-label>$16</ion-label></ion-col>
      </ion-row>
      <ion-row class="history-row">
        <ion-col class="t-col"><ion-label>Classic Burger x1</ion-label></ion-col>
        <ion-col class="p-col"><ion-label>$14</ion-label></ion-col>
      </ion-row>
      <ion-row class="history-row">
        <ion-col class="t-col"><ion-label>Cheese Chicken Bueger x1</ion-label></ion-col>
        <ion-col class="p-col"><ion-label>$17</ion-label></ion-col>
      </ion-row>
      <ion-row class="history-row">
        <ion-col class="t-col"><ion-label>Chicken Legs Basket x1</ion-label></ion-col>
        <ion-col class="p-col"><ion-label>$15</ion-label></ion-col>
      </ion-row>
      <ion-row class="history-row">
        <ion-col class="t-col"><ion-label>French Fries Large x1</ion-label></ion-col>
        <ion-col class="p-col"><ion-label>$6</ion-label></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="t-col"><ion-label>Delivery Instructions</ion-label></ion-col>
        <ion-col class="p-col" style="color: #F57734;"><ion-label><ion-icon name="add"></ion-icon>Add Notes</ion-label></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="t-col"><ion-label>Sub Total</ion-label></ion-col>
        <ion-col class="p-col" style="color: #F57734;"><ion-label>$68</ion-label></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="t-col"><ion-label>Delivery Cost</ion-label></ion-col>
        <ion-col class="p-col" style="color: #F57734;"><ion-label>$2</ion-label></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="t-col"><ion-label>Total</ion-label></ion-col>
        <ion-col class="p-col" style="color: #F57734;"><ion-label style="font-size: 25px;">$70</ion-label></ion-col>
      </ion-row>
  </ion-list>
  <div class="btn-cont">
    <ion-button (click)="checkout()">Checkout</ion-button>
  </div>
</ion-content>
