
<ion-content class="ion-padding">
  <div class="header-cont">
    <div>
      <div style="font-size: 30px;">Registro</div>
      <div style="font-size: 14px;font-weight: 100;margin-top: 15px;">Proporciona tus datos para continuar</div>
    </div>
  </div>
  <div class="input-cont">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)">
      <ion-input type="text" formControlName="name" placeholder="Nombre" ></ion-input>
      <ion-input type="email" formControlName="email" placeholder="Email" ></ion-input>
      <ion-input type="number" formControlName="phone" placeholder="Celular" ></ion-input>
      <ion-input type="text" formControlName="direction" placeholder="Dirección" ></ion-input>
      <ion-input type="text" formControlName="pwd" placeholder="Contraseña" ></ion-input>
      <ion-input type="text" formControlName="confirmPwd" placeholder="Confirma tu contraseña"></ion-input>
        <p style="margin-top: 25px; text-align: center; color:red;font-size: 18px;" [hidden]="erroAuth">Error de autentificación.</p>
      <button  class="login-btn" type="submit">Regístrame</button>
      <div class="reg-cont">
        <p>Ya tienes una cuenta? <span style="color:#F57734;" (click)="login()">Inicia Sesión Aquí</span></p>
      </div>
    </form>     
  </div>
</ion-content>
